<footer class="footer footer-center bg-base-300 text-base-content p-4">
  <div class="flex justify-between w-full max-w-[80%] flex-1">
    <!-- Lado esquerdo -->
    <div class="flex flex-col gap-2 items-start">
      <a class="link link-hover">Sobre nós</a>
      <a class="link link-hover">Trabalhe Conosco</a>
      <a class="link link-hover">Entre em Contato</a>
      <a class="link link-hover">Procure uma loja física</a>
    </div>

    <!-- Lado direito -->
    <div class="flex flex-col gap-2 items-start text-custom-gold">
      <a class="link link-hover">(42) 99999-9999</a>
      <a class="link link-hover">Lego Tech</a>
      <a class="link link-hover">&#64;legotech</a>
      <a class="link link-hover">Lego Tech</a>
    </div>
  </div>
  <aside class="bg-custom-yellow w-full">
    <p class="text-gray-900 text-base">
      ©Todos os direitos reservados 2024 - Laira e Emanuel
    </p>
  </aside>
</footer>
