<div class="navbar bg-gray-900">
  <div class="flex-1">
    <a
      href="/"
      class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="h-auto w-auto max-w-fit min-h-8 mr-2"
        src="/assets/logo.svg"
        alt="logo"
      />
    </a>
  </div>

  <div class="flex-none gap-2">
    <ng-container *ngIf="isAuthenticated; else guestMenu">
      <a href="/cart">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle border-custom-yellow"
          >
            <div class="indicator">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
              <span class="badge badge-sm indicator-item">{{ qntCart }}</span>
            </div>
          </div>
        </div>
      </a>

      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost btn-circle avatar border-custom-yellow"
        >
          <div class="w-10 rounded-full">
            <img
              alt="User Avatar"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          <li><a href="/profile">Perfil</a></li>
          <li><a href="/purchases">Minhas compras</a></li>
          <li><button (click)="logout()">Sair</button></li>
        </ul>
      </div>
    </ng-container>

    <ng-template #guestMenu>
      <a href="/login" class="btn btn-primary">Entrar</a>
      <a href="/signup" class="btn btn-secondary ml-2">Criar Conta</a>
    </ng-template>
  </div>
</div>
