<div class="navbar bg-gray-900 pr-4 pl-4">
  <div class="flex-1">
    <a href="/" class="flex items-center">
      <!-- Logo responsiva -->
      <img
        class="h-auto w-auto max-w-[180px] min-h-8 md:max-w-[300px] md:min-h-[50px] object-contain"
        src="/assets/logo.svg"
        alt="logo"
      />
    </a>
  </div>

  <div class="flex-none gap-2">
    <ng-container *ngIf="isAuthenticated; else guestMenu">
      <a href="/cart">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle border-custom-yellow text-zinc-100"
          >
            <div class="indicator">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
              <span class="badge badge-sm indicator-item">{{ qntCart }}</span>
            </div>
          </div>
        </div>
      </a>

      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost btn-circle avatar border-custom-yellow"
        >
          <div class="w-10 rounded-full">
            <img alt="User Avatar" src="/assets/person.svg" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          <li><a href="/profile">Perfil</a></li>
          <li><a href="/purchases">Minhas compras</a></li>
          <li><button (click)="logout()">Sair</button></li>
        </ul>
      </div>
    </ng-container>

    <ng-template #guestMenu>
      <!-- Apenas um botão no mobile e dois no desktop -->
      <a href="/login" class="btn btn-primary btn-sm md:btn-md">Entrar</a>
      <a
        href="/signup"
        class="btn btn-secondary btn-sm md:btn-md ml-2 hidden md:inline-block content-center"
        >Criar Conta</a
      >
    </ng-template>
  </div>
</div>
