<div class="cards-container flex flex-wrap gap-4">
  <div
    class="card card-compact bg-custom-yellow w-60 h-80 gap-4 shadow-xl p-2 text-gray-600"
    [ngClass]="{ hidden: item.stock_quantity <= 0 }"
  >
    <div class="bg-gray-300">
      <a href="infoDetails/{{ item.id }}">
        <figure>
          <img
            ngSrc="{{ item.image_url }}"
            height="160"
            width="160"
            alt="{{ item.description }}"
          />
        </figure>
      </a>
    </div>
    <div class="card justify-between flex-1">
      <h2 class="card-title truncate">{{ item.name | titlecase }}</h2>
      <p class="truncate">{{ item.description }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="addToCart(item.id, 1)">
          {{ item.price | currency : "BRL" }}
        </button>
      </div>
    </div>
  </div>
  <div #toastContainer class="toast toast-top toast-end">
    <div *ngIf="toastMessage()" class="alert alert-success">
      <span>{{ toastMessage() }}</span>
    </div>
  </div>
</div>
