<div class="flex flex-col md:flex-row flex-1 gap-6">
  <div class="w-full md:w-3/4 flex justify-center">
    <figure class="w-full md:w-auto">
      <img
        class="w-full md:w-[650px] h-auto object-cover"
        ngSrc="{{ product.image_url }}"
        height="650"
        width="650"
        priority
        alt="{{ product.description }}"
      />
    </figure>
  </div>

  <div class="flex flex-col gap-4 w-full md:w-auto h-full justify-between">
    <h2 class="text-xl md:text-2xl font-bold">{{ product.name }}</h2>
    <p class="text-lg">{{ product.description }}</p>

    @if (product.stock_quantity > 0) {
    <div>
      <p class="text-success text-lg">Produto Disponível</p>
      <span>Quantidade: {{ product.stock_quantity }}</span>
    </div>
    } @else {
    <div>
      <p class="text-error text-lg">Produto Indisponível</p>
      <p>{{ product.stock_quantity }}</p>
    </div>
    }

    <button
      class="btn btn-success flex items-center gap-2 p-3 md:px-6 md:py-3 text-white"
    >
      <img src="/assets/addCCart.svg" alt="" class="w-5 h-5" />
      <span class="text-sm md:text-base uppercase">Adicionar ao carrinho</span>
      <span class="text-sm md:text-lg font-bold">{{ product.price }}</span>
    </button>
  </div>
</div>
