<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center w-full min-h-screen px-6 py-8 mx-auto"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="h-auto w-auto max-w-fit min-h-8 mr-2"
        src="/assets/logo.svg"
        alt="logo"
      />
    </a>
    <div
      class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="space-y-4 sm:space-y-6 p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Create an account
        </h1>
        <form
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4 md:space-y-6"
        >
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your name</label
            >
            <input
              type="text"
              id="name"
              formControlName="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="John Doe"
              required
            />
            <div
              *ngIf="
                signupForm.get('name')?.invalid &&
                signupForm.get('name')?.touched
              "
              class="text-red-500 text-xs"
            >
              <div *ngIf="signupForm.get('name')?.errors?.['required']">
                Name is required
              </div>
            </div>
          </div>

          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com"
              required
            />
            <div
              *ngIf="
                signupForm.get('email')?.invalid &&
                signupForm.get('email')?.touched
              "
              class="text-red-500 text-xs"
            >
              <div *ngIf="signupForm.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div *ngIf="signupForm.get('email')?.errors?.['email']">
                Please enter a valid email address
              </div>
            </div>
          </div>

          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              id="password"
              formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="••••••••"
              required
            />
            <div
              *ngIf="
                signupForm.get('password')?.invalid &&
                signupForm.get('password')?.touched
              "
              class="text-red-500 text-xs"
            >
              <div *ngIf="signupForm.get('password')?.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="signupForm.get('password')?.errors?.['minlength']">
                Password must be at least 4 characters long
              </div>
            </div>
          </div>

          <!-- Address Field -->
          <div>
            <label
              for="address"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your address</label
            >
            <input
              type="text"
              id="address"
              formControlName="address"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Your Address"
              required
            />
            <div
              *ngIf="
                signupForm.get('address')?.invalid &&
                signupForm.get('address')?.touched
              "
              class="text-red-500 text-xs"
            >
              <div *ngIf="signupForm.get('address')?.errors?.['required']">
                Address is required
              </div>
            </div>
          </div>

          <!-- Terms and Conditions Checkbox -->
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="terms"
                type="checkbox"
                formControlName="terms"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                required
              />
            </div>
            <div class="ml-3 text-sm">
              <label
                for="terms"
                class="font-light text-gray-500 dark:text-gray-300"
              >
                I accept the
                <a
                  class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                  >Terms and Conditions</a
                >
              </label>
            </div>
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            [disabled]="signupForm.invalid"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:cursor-not-allowed"
          >
            Create an account
          </button>

          <!-- Switch to Signin Button -->
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account?
            <button
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              type="button"
              (click)="switchToSignin.emit()"
            >
              Login here
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
